/* CSS Reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove list styles */
ul,
ol {
  list-style: none;
}

/* Remove anchor text decoration and color */
a {
  text-decoration: none;
  color: inherit;
}

/* Remove border outline */
button,
input,
textarea,
select {
  border: none;
  outline: none;
}

/* Set default font family and size */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

/* Set default line height */
body,
button,
input,
textarea,
select {
  line-height: 1.5;
}
